*{
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#mainses{
    background-color: #1D1D1D;
}
#iniform{
    text-align: center;
    padding-top: 160px;
    background-color:  #1D1D1D;
    background-size: cover;
    height: 620px;
}
#mainses{
    height: 790px;
}
ul{
    display: inline-block;
}
#h1formmod{
    padding-bottom: 10px;
    color: white;
}
#formempresas{
    text-align: center;
    height: 700px;
    padding: 70px;
    text-align: center;
    width: 75%;
    background-color: #1D1D1D;
}
#formtutoresemp{
    text-align: center;
    height: 800px;
    padding: 70px;
    text-align: center;
    width: 75%;
}
#foormrepresentantes{
    text-align: center;
    height: 700px;
    padding: 70px;
    text-align: center;
    width: 75%;
}
#headerindex{
    background-color: #679fff;
    color: white;
    font-size: 3em;
    padding: 50px;
    border-bottom: 5px solid blue;
}
#mianindex{
    background-color: #1D1D1D;
    height: 700px;
}
#sectionindex{
    width: 50%;
}
#h2index{
    text-align: center;
    font-size: 4em;
    padding-top: 100px;
    padding-bottom: 30px;
}
#pindex{
    font-size: 1.8em;
    text-align: center;
}
#h2index, #pindex{
    color: white;
}
#h1add{
    background-color: #679fff;
    color: white;
}
#h1mod{
    background-color: #679fff;
    color: white;
}
#h1adbs{
    color: white;
    text-align: center;
    font-size: 2.3em;
}
#h1ini{
    background-color: #2272ff;
    color: white;
    text-align: center;
    font-size: 2.3em;
}
#h1base{
    background-color: #679fff;
    color: white;
}
#h1form{
    color: white;
    text-align: center;
    font-size: 2.3em;
}
#maindb{
    background-color: #1D1D1D;
    height: 700px;
}
#mainformrep{
    background-color: #1D1D1D;
    text-align: center;
}
footer{
    padding-bottom: 20px;
    background-color: #2272ff;
    text-align: right;
    color: white;
}
#headerses{
    background-color: #1D1D1D;
    background-size: cover;
    color: white;
}
#mainmod{
    height: 900px;
    background-color: #1D1D1D;
}
#sectionemp{
    background-color: #1D1D1D;
}
#mainadd{
    height: 1000px;
    background-color: #1D1D1D;
}
#sectiontut{
    height: 900px;
}
input, select{
    width: 20%;
    padding: 15px;
    margin: 8px;
}
select{
    font-size: 1.1em;
}
label{
    font-size: 1.3em;
    color: white;
    padding-bottom: 40px;
    width: 10%;
}
::placeholder{
    font-size: 1.2em;
}
button{
    width: 22.3%;
    font-size: 1.3em;
    border-radius: 8%;
}
h1{
    text-align: center;
    font-size: 2.3em;
}
a{
    text-decoration: none;
    color:  #ffffff;
}
nav{
    text-align: center;
    padding: 15px;
    background-color: #2272ff;
    border-bottom: 5px solid blue;
}
li{
    display: inline-block;
    padding-right: 30px;
    font-size: 1.4em;
}
ul{
    color: white;
}
#h2in{
    text-align: center;
}
#pin{
    text-align: left;
    width: 70%;
}
.divtext{
    text-align: center;
}
